*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Mobile first */


#header-font{
    background-color: rgb(0, 132, 253);
    height: 5vh;
}

#div-container{ 
    margin: 0 auto;
    width: 80%;
    
}

#logo{
    background-color: red;
    font-size: 1.5rem;
}

.nav-bar{
    font-size: 1.5rem;
    background-color: blueviolet;
}


.cards-container{
    margin: 0 auto;
    width: 80%;
    margin-top: 3rem;
    
}



.cards-blu{
    background-color: rgb(181, 221, 255);
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    padding: 1.5rem 1.5rem 0;

}

.cards-blu>h3{
    color: rgb(0, 132, 253);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.cards-blu>p{
    font-size: 1.3rem;
    padding-bottom: 3rem;
    
}

.cards-blu button.blue-button{
    font-size: 1.4rem;
    padding: .7rem 4rem .7rem 4rem;
    color: white;
    background-color: rgb(0, 132, 253);
    border: none;
    border-radius: 5rem;
    
}

div#img-phone>img{
    width: 100%;
    padding-top: 4rem;
    margin-bottom: 0;
}


#planning-section-font{
    background-color: rgb(151, 146, 228);
    width: 100%;    
}


div.white-card{
    background-color: white;
}


#testimonials{
    margin: 0 auto;
    width: 80%;
    background: lightblue;
    
}

.head-testimonial{
    margin: 1.5rem 0 1.5rem 0;

}

.card-testimonial{
    background-color: rgb(151, 146, 228);
    margin: 1.5rem 0 1.5rem 0;
}


#benefits-section{
    background-color: rgb(151, 146, 228);
}

#benefits-container{
    margin: 0 auto;
    width: 80%;
}


.benefit-card{
    background-color: white;
    color: rgb(151, 146, 228);
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
}

div.benefit-card>p{
color: black;
}


.article-about-us{
    text-align: center;
    background-color: aqua;

}
.card-about-us{
    background-color: bisque;
    text-align: left;
    font-size: 1.5rem;
}

#last-section{
    background-color: rgb(151, 146, 228) ;
    height: 20vh;
    text-align: center;
}

#footer{
    background-color: rgb(51, 51, 51);
    height: 20vh;
}

/* Desktop*/

@media screen and (min-width: 992px ) {


    #div-container{ 
        margin: 0 auto;
        width: 80%;
    }
    

    .cards-container{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        background-color: brown;
    }

    .cards-container .cards-blu{
        width: calc(90%/ 3);
        background-color: rgb(181, 221, 255);
        margin: 1rem;
        
        
        
    }
    
    .cards-container .cards-blu:first-child{
        width: calc((90%/ 3) *2);
        background-color: rgb(181, 221, 255);
        
    }

    div#img-phone>img{
        width: 20%;
    }


    div.plannig-container{
        display: flex;
        margin: 0 auto;
        width: 60%;
    }

    #benefits-section{
        background-color: rgb(151, 146, 228);
    }
    
    #benefits-container{
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        background-color: red;
        
    }
    
    
    .benefit-card{
        background-color: white;
        color: rgb(151, 146, 228);
        border-radius: 1.5rem;
        margin: 5px;
        font-size: 1.5rem;
        width: calc(97% / 3);
    }

    #about-us{
        margin: 0 auto;
        width: 80%;
        display: flex;
    }
    
}