*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Mobile first */


#header-font{
    background-color: rgb(0, 132, 253);
    
}

#div-container{ 
    margin: 0 auto;
    width: 80%;
    padding: 1.3rem 0 1.3rem 0;
    
}

#logo{
    font-size: 1.5rem;
}


div.nav-bar>i{
    color: white;
    font-size: 1.5rem;
    
}

.cards-container{
    margin: 0 auto;
    width: 80%;
    margin-top: 3rem;
    
}



.cards-blu{
    background-color: rgb(181, 221, 255);
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    padding: 1.5rem 1.5rem 0;

}

.position-div>h3{
    color: rgb(0, 132, 253);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.position-div>p{
    font-size: 1.3rem;
    padding-bottom: 3rem;
    
}

.position-div>button.blue-button{
    font-size: 1.4rem;
    padding: .7rem 4rem .7rem 4rem;
    margin-bottom: 2.5rem;
    color: white;
    background-color: rgb(0, 132, 253);
    border: none;
    border-radius: 5rem;
}


.cards-blu>h3{
    color: rgb(0, 132, 253);
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1.7rem;
}

.cards-blu>p{
    font-size: 1.3rem;
    padding: 1.5rem 1rem 3rem 1rem;
    text-align: center;
    
}

.cards-blu>button.blue-button{
    font-size: 1.4rem;
    padding: .7rem 4rem .7rem 4rem;
    margin-bottom: 2.5rem;
    color: white;
    background-color: rgb(0, 132, 253);
    border: none;
    border-radius: 5rem;
    
}

div#img-phone>img{
    width: 100%;
    padding-top: 4rem;
    margin-bottom: 0;
}

.fa-solid{
    font-size: 4rem;
    color: rgb(0, 132, 253);
} 


div.plannig-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

#planning-section-font{
    background-color: rgb(151, 146, 228);
    width: 100%;    
}


.img-container>img{
    width: 60%;
    padding: 3rem 0 2rem 0 ; 
}



div.planning-info>h3{
    color: white;
    font-size: 2.5rem;
    padding: 1rem 0 3rem 0;

}

.planning-info>p{
    color: white;
    width: 80%;
    font-size: 1.3rem;
    padding: 0 0 3rem 0;

}

div.white-card{
    background-color: white;
    border-radius: 3rem;
    width: 80%;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

div.white-card .planning-info>h3{
    color: black;
    font-size: 1.4rem;
    
}

div.white-card .planning-info>p{
    color: black;
    font-size: 1.1rem;
    text-align: center;
}



#testimonials{
    margin: 0 auto;
    width: 80%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.head-testimonial{
    margin: 1.5rem 0 1.5rem 0;
    width: 80%;


}

.head-testimonial>h2{
    text-align: center;
    font-size: 1.7rem;
    color: rgb(151, 146, 228);
    padding: 2rem 0 2rem 0;
}

.head-testimonial>p{
    font-size: 1.3rem;
    text-align: center;
}

.testimonial-img{
    width: 80%;
}

.testimonial-img>img{
    padding: 2rem 0 2rem 0;
    width: 100%;
    border-radius: 5rem;
}


.card-testimonial{
    background-color: rgb(151, 146, 228);
    margin: 1.5rem 0 1.5rem 0;
    width: 80%;
    border-radius: 3rem;
}

.testimonial-info>p{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    padding: 0 1rem 1.5rem 1rem;

}
.testimonial-info{
    width: 80%;
}


#benefits-section{
    background-color: rgb(151, 146, 228);
    padding: 1.5rem;
}

#benefits-container{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 3rem;
}
#title-benefit{
    text-align: center;
    font-size: 2.3rem;
    color: white;
    padding: 2.5rem 0 3rem 0;
}

.benefit-card{
    background-color: white;
    color: rgb(151, 146, 228);
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
}

div.benefit-card>h3{
    font-size: 3.5rem;
    padding-bottom:1rem ;
}

div.benefit-card>span{
    font-size: 1.8rem;
}

div.benefit-card>p{
    font-size: 1.3rem;
    padding: 2rem 0 1.5rem 0 ;
}

div.benefit-card .quality-button{
    font-size: 1.1rem;
    color: white;
    border: none;
    background-color: rgb(151, 146, 228);
    padding: .7rem 3rem .7rem 3rem;
    border-radius: 2rem;

}



div.benefit-card>p{
    color: black;
}


.article-about-us{
  width: 80%;
  padding: 3rem;
}

.article-about-us>h2{
    font-size: 3rem;
    padding: 2rem 0 2rem 0;
    color: rgb(151, 146, 228);
}

.article-about-us>p{
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.card-about-us{
    
    text-align: left;
    font-size: 1.5rem;
}

.card-about-us #img-about-us{
    width: 80%;
    padding: 2rem 0 2rem 1.5rem;
}

.card-about-us #img-about-us>img{
    width: 50%;
    border-radius: 5rem;
}

#profile-about-us{
    padding: 3rem;
    
}

#profile-about-us>p{
    font-size: 2.2rem;
    padding-bottom: 2rem;
    color: rgb(151, 146, 228);
}

.about-us-button{
    font-size: 1.1rem;
    color: white;
    border: none;
    background-color: rgb(151, 146, 228);
    padding: .7rem 3rem .7rem 3rem;
    border-radius: 2rem

}

#last-section{
    background-color: rgb(151, 146, 228);
    
}

#div-last-section{
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0 4rem 0;
}

#div-last-section>h2{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    color: rgba(204, 204, 204, 0.904);
    
}

#div-last-section>h3{
    font-size: 2.3rem;
    padding-bottom: 1.5rem;
    color: white;
    text-align: center;
}

#div-last-section>h4{
    font-size: 4rem;
    padding-bottom: 1.5rem;
    color: rgb(253, 193, 95);  
}

#div-last-section>p{
    font-size: 1.3rem;
    width: 80%;
    padding-bottom: 1.5rem;
    color: white;
    text-align: center; 
}

#div-last-section>button{
    font-size: 1.3rem;
    padding: 1rem 4rem 1rem 4rem;
    background-color: white;
    width: 20rem;
    border: none;
    border-radius: 2rem;
    color: rgb(151, 146, 228);
    text-align: center; 
    margin-bottom: 2rem;
}



#footer{
    background-color: rgb(51, 51, 51);
}

#footer-container{
    width: 80%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#footer-container>p{
    color: white;
    text-align: center;
    padding-bottom:2rem;
    padding-top: 2rem;
}

/* Desktop*/

@media screen and (min-width: 992px ) {


    #div-container{ 
        margin: 0 auto;
        width: 80%;
    }
    

    .cards-container{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        
    }

    .cards-container>.cards-blu{
        width: calc(30% - 2rem);
        background-color: rgb(181, 221, 255);
        margin: 1rem;
        
        
        
    }
    
    .cards-container>.cards-blu:first-child{
        width: calc(60% - 2rem) ;
        background-color: rgb(181, 221, 255);
        display: flex;
        
    }

    .position-div{
        width: 50%;
    }

    div#img-phone{
        width: 50%;
    }

    div#img-phone>img{
        width: 50%;
        
    }

    div.planning-card{
        width: 50%;
    }


    div.plannig-container{
        display: flex;
        flex-direction: row;
    }
    
    div.white-card{
        background-color: white;
        border-radius: 3rem;
        width: 30%;
        padding: 1.5rem;
        margin-bottom: 3rem;
    }


    .head-testimonial>h2{
        text-align: center;
        font-size: 3rem;
        color: rgb(151, 146, 228);
        padding: 2rem 0 2rem 0;
    }
    
    .head-testimonial>p{
        font-size: 1.3rem;
        text-align: center;
    }

    .card-testimonial{
        display: flex;
        flex-direction: row;
    
    }


    .testimonial-img{
        width: 30%;
    }

    .testimonial-img>img{
        padding: 2rem 0 2rem 2rem;
        height: 280px;
        width: 300px;
        border-radius: 60%;
        overflow: hidden;
        
    }


    .testimonial-info>p{
        text-align: left;
        color: white;
        font-size: 1.3rem;
        margin-bottom:2rem;
    
    }
    

    #benefits-section{
        background-color: rgb(151, 146, 228);
    }
    
    #benefits-container{
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem;
          
    }
    
    
    .benefit-card{
        background-color: white;
        color: rgb(151, 146, 228);
        border-radius: 1.5rem;
        margin: 5px;
        font-size: 1.5rem;
        width: calc(97% / 3);
    }

    #about-us{
        margin: 0 auto;
        width: 80%;
        display: flex;
        padding: 3rem 0 4rem 0;
    }
    
    .article-about-us{
        width: 70%;
        padding: 3rem;
      }

    .card-about-us{
        width: 30%;
    }

    .card-about-us #img-about-us>img{
        width: 70%;
        
    }

    #profile-about-us{
        padding: 0 0 0 1.5rem;
    }

    #profile-about-us>p{
        font-size: 1.8rem;
        width: 50%;
    }

    #div-last-section>h4{
        font-size: 7rem;
        padding-bottom: 1.5rem;
        color: rgb(253, 193, 95);  
    }


    #div-last-section>h3{
        font-size: 3rem;
          
    }

    #div-last-section>p{
        padding-bottom:1.5rem;
        width: 40%;
          
    }

    #footer-container{
        width: 30%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

}