*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Mobile first */


#header-font{
    background-color: rgb(0, 132, 253);
    height: 5vh;
}

#div-container{ 
    margin: 0 auto;
    width: 80%;
    
}

#logo{
    background-color: red;
    font-size: 1.5rem;
}

.nav-bar{
    font-size: 1.5rem;
    background-color: blueviolet;
}


.cards-container{
    
    margin: 0 auto;
    width: 80%;
    margin-top: 3rem;
    background-color: brown;
}


.cards{
    border-radius: 1.5rem; 
    
}

.cards-blu{
    background-color: rgb(0, 132, 253);
}

#planning-section-font{
    background-color: rgb(151, 146, 228);
    width: 100%;    
}


div.white-card{
    background-color: white;
}


#testimonials{
    margin: 0 auto;
    width: 80%;
    background: lightblue;
    
}

.head-testimonial{
    margin: 1.5rem 0 1.5rem 0;

}

.card-testimonial{
    background-color: rgb(151, 146, 228);
    margin: 1.5rem 0 1.5rem 0;
}



/* Desktop*/

@media screen and (min-width: 992px ) {


    #div-container{ 
        margin: 0 auto;
        width: 80%;
    }
    

    .cards-container{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        background-color: brown;
    }

    .cards-container .cards{
        width: calc(100%/ 3);
        background-color: rgb(0, 132, 253);
        border: 1px solid white;
        
    }
    
    .cards-container .cards:first-child{
        height: 7rem;
        margin: 0;
        width: calc((100%/ 3) *2);
        background-color: rgb(0, 132, 253);
        
    }


    div.plannig-container{
        display: flex;
        margin: 0 auto;
        width: 60%;
    }

    
}